@media (prefers-color-scheme: dark) {
  :root {
    --color-blue-8: #140505;
    --color-blue-7: #290a0a;
    --color-blue-6: #3d0f0f;
    --color-blue-5: #771d1d;
    --color-blue-4: #b12c2c;
    --color-blue-3: #d45151;
    --color-blue-2: #e28b8b;
    --color-blue-1: #f1c5c5;
    --color-gray-5: #252323;
    --color-gray-4: #3d3c3c;
    --color-gray-3: #999999;
    --color-gray-2: #BBBBBB;
    --color-gray-1: #EEEEEE;
    --color-green-1: #3d5e32;
    --color-green-2: #31422a;
    --color-green-3: #232921;
    --color-back: #201f1f;
    --color-text: #DDD;
  }

  textarea, input, select {
    color: var(--color-text);
    background-color: var(--color-back);
    border-color: #131313;
  }

  a:hover {
    color: var(--color-blue-3);
  }

  .bigButton:hover {
    background-color: var(--color-blue-5);
  }

  .smallButton {
    color: #CCC;
    background-color: var(--color-gray-4);
  }

  .smallButton:hover {
    color: #CCC;
    background-color: var(--color-gray-5);
  }

  body {
    background-image: none;
    background-color: #131313;
  }

  .error {
    background-color:#63497e;
    border: 1px solid #402364;
  }

  .tableListRow:visited {
    background-color: #312d36;
    color: #9250aa;
  }

  .tableListRow:hover {
    background-color: var(--color-gray-5);
    color: var(--color-blue-3);
  }

  .tableListRow:visited:hover {
    background-color: #312d36;
    color: #ba58dd;
  }

  .menuItem:hover {
    color: #FFF;
  }

  main *:focus {
    outline: 1px solid var(--color-blue-6);
    background-color: var(--color-gray-4);
  }

  .saved {
    background-color: var(--color-green-2);
    color: var(--color-text);
  }
  
  .saved:hover {
    background-color:var(--color-green-3);
    color: var(--color-text);
  }
}